{{outlet}}

<h1>Ejemplos EmberJS de Línea de Código</h1>

<ul>
<li>{{#link-to 'hola-mundo'}}Hola Mundo{{/link-to}}</li>
</ul>

Puedes leer en detalle todas las <a href="http://lineadecodigo.com/categoria/emberjs/">explicaciones de los ejemplos EmberJS de Línea de Código</a>.
